<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HCSystemicQRCodeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F0CDBE21CD9FBA200E0FDCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F0CDBFB1CD9FBA300E0FDCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F0CDC061CD9FBA300E0FDCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
